
.b-0 {
    border: 0px solid #ebebeb !important
}

.bt-0 {
    border-top: 0px solid #ebebeb !important
}

.br-0 {
    border-right: 0px solid #ebebeb !important
}

.bb-0 {
    border-bottom: 0px solid #ebebeb !important
}

.bl-0 {
    border-left: 0px solid #ebebeb !important
}

.bx-0 {
    border-right: 0px solid #ebebeb !important;
    border-left: 0px solid #ebebeb !important
}

.by-0 {
    border-top: 0px solid #ebebeb !important;
    border-bottom: 0px solid #ebebeb !important
}

.b-1 {
    border: 1px solid #ebebeb !important
}

.bt-1 {
    border-top: 1px solid #ebebeb !important
}

.br-1 {
    border-right: 1px solid #ebebeb !important
}

.bb-1 {
    border-bottom: 1px solid #ebebeb !important
}

.bl-1 {
    border-left: 1px solid #ebebeb !important
}

.bx-1 {
    border-right: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important
}

.by-1 {
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important
}

.b-2 {
    border: 2px solid #ebebeb !important
}

.bt-2 {
    border-top: 2px solid #ebebeb !important
}

.br-2 {
    border-right: 2px solid #ebebeb !important
}

.bb-2 {
    border-bottom: 2px solid #ebebeb !important
}

.bl-2 {
    border-left: 2px solid #ebebeb !important
}

.bx-2 {
    border-right: 2px solid #ebebeb !important;
    border-left: 2px solid #ebebeb !important
}

.by-2 {
    border-top: 2px solid #ebebeb !important;
    border-bottom: 2px solid #ebebeb !important
}

.b-3 {
    border: 3px solid #ebebeb !important
}

.bt-3 {
    border-top: 3px solid #ebebeb !important
}

.br-3 {
    border-right: 3px solid #ebebeb !important
}

.bb-3 {
    border-bottom: 3px solid #ebebeb !important
}

.bl-3 {
    border-left: 3px solid #ebebeb !important
}

.bx-3 {
    border-right: 3px solid #ebebeb !important;
    border-left: 3px solid #ebebeb !important
}

.by-3 {
    border-top: 3px solid #ebebeb !important;
    border-bottom: 3px solid #ebebeb !important
}

.border {
    border: 1px solid #ebebeb !important
}

.border-primary {
    border-color: #e7462a !important
}

.border-nice {
    border-color: #33cabb !important
}

.border-secondary {
    border-color: #e4e7ea !important
}

.border-success {
    border-color: #15c377 !important
}

.border-info {
    border-color: #48b0f7 !important
}

.border-warning {
    border-color: #faa64b !important
}

.border-danger {
    border-color: #f96868 !important
}

.border-pink {
    border-color: #f96197 !important
}

.border-purple {
    border-color: #926dde !important
}

.border-brown {
    border-color: #8d6658 !important
}

.border-cyan {
    border-color: #57c7d4 !important
}

.border-yellow {
    border-color: #fcc525 !important
}

.border-gray {
    border-color: #868e96 !important
}

.border-dark {
    border-color: #465161 !important
}

.border-transparent {
    border-color: transparent !important
}

.border-white {
    border-color: #fff !important
}

.border-light {
    border-color: #f1f2f3 !important
}

.border-fade {
    border-color: rgba(77, 82, 89, 0.07) !important
}