.container-login {
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .login {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        .login-panel {
            background-color: rgba($main-color-white, 0.5);
            box-shadow: $box-shadow-large;
            .panel-body {
                padding: 40px;
                z-index: 5;
                i {
                    opacity: 1;
                }
                input:-webkit-autofill {
                    -webkit-box-shadow: inset 0 0 0px 9999px rgba(255, 255, 255, 0.6);
                }
                input:focus,
                    input:-webkit-autofill:focus {
                        border-color: #66afe9;
                        -webkit-box-shadow: inset 0 0 0px 9999px transparent, 0 0 8px rgba(102, 175, 233, 0.6);
                }
            }
        }
        .login-logo {
            position: absolute;
            left: 40px;
            top: 40px;
            opacity: 0.75;
        }
    }
    video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background: url('') no-repeat;
        background-size: cover;
        transition: 1s opacity;
    }
}